$purpleGradient: hsl(258, 30%, 45%);
$redGradient: hsl(356, 62%, 59%);

$blueButton: hsl(223, 97%, 64%);
$brownVignet: hsl(345, 4%, 21%);

$greyTextVignet: hsl(330, 1%, 53%);
$greySearchText: hsl(0, 0%, 87%);
$white: hsl(0, 0%, 100%);

$greyForm: hsl(330, 1%, 44%);